.foot{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #026e00;
    color: white;
    border: 1px solid gray;
    font-family: 'segoe UI',sans-serif;
}
.Footeer-logo{
    height: 150px;
}
.footer-content {
    width: 350px;
    margin-top: 40px;
    color: #cccccc;
}
.Links{
    color: #cccccc;;
}
.Contact-Info{
    color: #cccccc;
}
.Quick-Links {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    color: #cccccc;
}
.Quick-Links a{
    text-decoration: none;
    color: #cccccc;
}
.Quick-Links a:hover{
    color: black;
}
.Contact-Info{
    font-family: Arial, HelveEtica, sans-serif;
    font-size: 0.8rem;
}

/* Social Media */
.Follow{
    color: #cccccc;
}
.Social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cccccc;
}
.Social-media img{
    margin-top: 10px;
    height: 30px;
}
.Developer{
    font-weight: bold;
    font-size: x-small;
    color: #cccccc;
    font-weight: bold;
}
.maplogo,.buy,.time,.phone{
    height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}
.Copy-right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 25px;
    background-color: black;
    color: #cccccc;
    font-weight: bold;
}



@media (max-width: 780px) {
    .foot {
        height: auto;
        width: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 5px;
    }
    .Footeer-logo{
        height: 80px;
    }
    .footer-content{
        font-size: 0.9rem;
        color: #cccccc;
    }
    .foot-info{
        display: flex;
        flex-wrap: wrap;
        font-size: 0.8rem;
    }
    .Links{
        padding-top: 20px;
        font-size: 0.8rem;
    }
    .Quick-Links{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 8px;
        
    }
    .Contact-Info{
        padding-top: 20px;
    }
    .Follow{
        padding-top: 20px;
        font-size: 0.8rem;
    }
    .Developer{
        padding-bottom: 15px;
    }
    .Copy-right{
        gap: 10px;
        height: auto;
        flex-direction: column;
        padding: 10px 0;
        font-size: 0.8rem;
    }
}

