*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    box-sizing: border-box;
}

.navabar{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-evenly;
    height: 100px;
    background-color: #F5F5DC;
    border: 1px solid grey ;
    z-index: 1000;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Tree-Logo{
    height: 65px;
}
.Name-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 27px;
    width: 65px;
}
.Tree-Search{
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
}
.Search-Bar{
    height: 42px;
    width: 400px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border:none;
    border-left: none;
    padding-left: 25px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1)
    
}
.Search-Icon{
    height: 42px;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px ;
    background-color: green;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1)
}
.Search-Icon:hover{
    border: 2px solid black;
    cursor: pointer;
}
.Option{
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight:bold;
}
.sub-op{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0 3px 4px rgba(0,0,0,0.1)
}
.sub-op a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.sub-op:hover{
    background-color: #e6f5e6;
    border: 2px solid green;
    color: green;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}



@media (max-width: 780px) {
    .navabar{
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .Tree-Logo{
        height: 40px;
    }
    .Option{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 20px;
        gap:10px;
        padding-top: 10px;
    }
    .sub-op{
        height: 25px;
        width: 60px;
        font-size: 0.6rem;
        margin: none;
    }
    .Tree-Search{
        padding-bottom: 15px;
    }
    .Search-Bar{
        height: 35px;
        width: 250px;
    }
    .Search-Icon{
        height: 35px;
        width: 35px;
    }
}